*{
    box-sizing: border-box;
}

.container{
    width: 1170px;
    display: block;
    margin: 0 auto;
    overflow: hidden;

}
/* ------------------------------------------//container */


.main-window{
    display: inline-block;
    height: 100%;
    width: 78%;
    vertical-align: top;
    background-color: #ffffff;
    border: 5px solid #e68c24e8;
    padding: 20px;

}

.main-window__photo{
    height: 150px;
    width: 160px;
    background-color: #ffffff;
    border-radius: 100px;
    

}

.main-window__content{
    background-color: #ffffff;
    padding-top:10px ;
    padding-bottom:10px ;
}

/* ------------------------------------------//main-window */


/* ------------------------------------------//dialogs */



/*---------------------------------------------Users*/
.users__content{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}


/*---------------------------------------------Users sidebar*/
.users__sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;

}
.users__title{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}
.users__input{
    display: inline-block;
    margin-bottom: 10px;
}
/*---------------------------------------------Users data*/

.users__list{
width: 70%;

}
.users__item{
    display: inline-block;
    width: 30%;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 10px;
}
.users__item {
    margin-right: 10px;
    text-align: center;
}
.users__data{
    margin-bottom: 10px;
}
.users__img{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.users__img img{
    width: 50px;
    height: 50px;
}
.page__active{
    font-weight: bold;
}