*{
    box-sizing: border-box;
}

.container{
    width: 1170px;
    display: block;
    margin: 0 auto;
    overflow: hidden;

}
.btn:hover{
    cursor: pointer !important;
}

.main-window{
    display: inline-block;
    height: 100%;
    width: 78%;
    vertical-align: top;
    background-color: #ffffff;
    border: 5px solid #e68c24e8;
    padding: 20px;

}

.main-window__photo{
    height: 150px;
    width: 160px;
    background-color: #ffffff;
    border-radius: 100px;
    

}

.main-window__content{
    background-color: #ffffff;
    padding-top:10px ;
    padding-bottom:10px ;
}


.page__active{
    font-weight: bold;
}